.spacer {
    flex: 1 1 auto;
}

.nav-logo {
    max-width: 190px;
}

.nav-icon {
    zoom: 2.0;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}