.spacer {
    flex: 1 1 auto;
}

.nav-logo {
    max-width: 190px;
}

.logout-icon {
    zoom: 1.5;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.preco-produto {
    font-size: larger;
}

.nome-produto {
    font-size: large;
}

.modal-bg {
    background-color: #4b4e4b;
}

td,
th {
    width: 25%;
}